<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoI5fncVh1DnE-9_Pm_59K-SQ-fzRd8Us</string>
	<key>GCM_SENDER_ID</key>
	<string>262393133458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.purushothaman.BudgetBuddy</string>
	<key>PROJECT_ID</key>
	<string>budgetbuddy-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>budgetbuddy-swiftui.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262393133458:ios:22f8906f2ce50fb1d9694b</string>
</dict>
</plist>